.btnContainer {
    @apply block text-center rounded-full cursor-pointer;
    padding: 10px 0px;
    font-size: 13px;

}

.primary {
    margin: auto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    width: 60%;
    margin-top: 2rem;
    background-color: #071952;
}

.secondary {
    padding: 8px;
    background-color: #910b0b;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}


.third {
    @apply px-8;
    color: #1C1C1C;
    font-size: 18px;
    font-weight: 700;
    background-color: #37B7C3;
    // padding: 6.5px 50px;
    border-radius: 2rem;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.forth {
    margin: auto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}