.btnContainer {
    @apply block text-center rounded-full cursor-pointer;
    padding: 10px 0px;
    font-size: 13px;
    
}

.primary {
    margin: auto;
    width: 60%;
    margin-top: 2rem;
    background-color: #071952;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.secondary {
    padding: 8px;
    background-color: #910b0b;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}


.third{
    padding: 8px;
    background-color: #e6e4e4;
    color: #071952;
    font-size: 18px;
    font-weight: 700;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}