.settingContainer {
  width: 88%;
  padding: 3%;
  margin: auto;

  @media (min-width:1032px) {
    width: 78%;
  }

  @media (min-width:950px) {
    width: 68%;
  }

  .backCover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scaleUp 0.3s forwards;

    p {
      margin-bottom: 20px;
    }

    form {
      width: 100%;
    }

    button {
      margin: 5px;
    }
  }

  @keyframes scaleUp {
    from {
      transform: translate(-50%, -50%) scale(0);
    }

    to {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  .settingsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      @apply font-black text-4xl text-[#071952] uppercase pb-4;
    }

    span {
      display: inline-flex;
      align-items: center;
    }
  }

  .settingBody {
    .settingBodyPartOne {
      @apply flex flex-col;
      gap: 1rem;

      .inputBody {
        min-width: 50%;
      }

      .chooseImage {
        .placeholderBox {
          width: 200px;
          height: 200px;
          border: 2px dashed #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          color: #888;
        }

        .previewImage {
          width: 200px;
          height: 200px;
          object-fit: cover;
          margin-bottom: 10px;
        }

        .chooseImageLabel {
          margin-bottom: 5px;
          font-weight: bold;
        }
      }


    }

    .settingBodyPartTwo {
      textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #6b6a6a;
        border-radius: 4px;
        resize: vertical;
        outline: none;
        color: #0d9fb6;

        &:focus {
          border: 4px solid #088395;
        }
      }
    }

  }


}